
<div class="container main">
<h1 class="big-title">Razboi</h1>
<%= link_to 'Start Joc!', deal_path, class: 'btn btn-warning' %>

<address>
    
    <strong>Autori</strong><br>
    Conacel Elena-Cristina<br>
    Luca Laura<br>
    Paduraru Alexandru-Marius<br>
</address>

</div>