<!-- simboluri
    &spades; frunza
    &clubs; trefla
    &diams; romb
    &hearts; inima rosie

 -->
<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <div class="card red">
            <number>
                7<br>
                <symbol>&spades;</symbol>
            </number>
            <symbol class="big">
                &spades;
            </symbol>
            <number class="invert">
                7<br>
                <symbol>&spades;</symbol>
            </number>
        </div>
    </div>
    
      <div class="col-md-2">
        <div class="card back">
            <number>
                7<br>
                <symbol>&spades;</symbol>
            </number>
            <symbol class="big">
                &spades;
            </symbol>
            <number class="invert">
                7<br>
                <symbol>&spades;</symbol>
            </number>
        </div>
    </div>  
   
    <div class="col-md-2"></div>
    
</div>
</div>